.headOff {
  width: 100%;
  height: 140px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6e6b4+22,ed9017+58,ed9017+70,ed9017+84 */
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f6e6b4 22%, #ed9017 58%, #ed9017 70%, #ed9017 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f6e6b4 22%,#ed9017 58%,#ed9017 70%,#ed9017 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f6e6b4 22%,#ed9017 58%,#ed9017 70%,#ed9017 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.logos {
position: relative;
padding-top: 3%;
margin-left: 70%;
font-size: 40px;
font-family: "OpelSansW01",Arial,sans-serif;
color: white;

}

.zentrir {
  padding-top: 0px;
  padding-left: 0%;
}

img {
  margin-top: 0px;
  width: 100%;
  height: auto;
}

span.reference{
  position:fixed;
  left:10px;
  bottom:10px;
  font-size:12px;
}
span.reference a{
  color:#aaa;
  text-transform:uppercase;
  text-decoration:none;
  text-shadow:1px 1px 1px #000;
  margin-right:30px;
}
span.reference a:hover{
  color:#ddd;
}
ul.sdt_menu{
  margin-top:150px;
}
h1.title{
  text-indent:-9000px;
  background:transparent url(title.png) no-repeat top left;
  width:633px;
  height:69px;
}

footer {
  padding: 30px 0;
}
